[submodule "src/helpers/-f"]
	path = src/helpers/-f
	url = https://github.com/scottmac/opengraph.git
[submodule "src/helpers/opengraph"]
	path = src/helpers/opengraph
	url = https://github.com/scottmac/opengraph.git
